@import "../../global.scss";


#about {
    backdrop-filter:brightness(25%);
    @include createFlex(column);
    width: 100%;
    h1 {
        margin: 10rem 0rem;
    }
}

#about-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 20rem;
    max-width: 1920px;
    padding: 0rem 10rem 20rem;

    .aboutImages {
        width: 100%;
        height: 100%;
        position: relative;
        @include createFlex;
        img {
            border-radius: $borderRadius;
            position: relative;
            animation: imageSplit 0.5s ease 2s 1 backwards;
            transform: translate(15%,15%);
            width: 55%;
            min-width: 15rem;
        }

        img:nth-child(2) {
            position: absolute;
            transform: translate(-15%,-15%);
        }
    }

    section {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-auto-flow: column;
        grid-template-columns: 0.4fr 0.6fr;
        column-gap: 3rem;
    }

    section:nth-child(2) {
        text-align: right;
        grid-template-columns: 0.6fr 0.4fr;
    }
}

@keyframes imageSplit {
    from {
        transform: translate(145%,0%);
    }

    50% {
        transform: translate(0%,0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(100%,0%);
    }
}