@mixin button($fontColor,$backgroundColor,$borderColor) {
    font-family: var(--fontSec);
    font-size: 1.2rem;
    color: $fontColor;
    background-color: $backgroundColor;
    padding: var(--btnPadding);
    border-radius: var(--btnRadius);
    border: solid 0.2rem $borderColor;
}

%buttonHover {
    cursor: pointer;
}

.btn-pri {
    @include button(var(--colorTer),var(---colorPri),var(--colorSec));
    transition: box-shadow 0.2s;
}

.btn-pri:hover {
    $hallow:rgba(0,0,0,0);
    border: solid 0.2rem var(--colorQua);
    color: inherit;
    cursor: pointer;
    box-shadow: 0 0 0.5rem var(--colorQua);
    animation: Shine 0.5s linear 0s 1 normal forwards;
    background-image: linear-gradient(70deg,$hallow,$hallow,$hallow,$hallow,$hallow,var(--colorQua),$hallow,$hallow,$hallow,$hallow,$hallow);
    background-position: 20rem 0px;
    background-size: 1000%;
}

@keyframes Shine {
    to {
        background-position: 50rem 0px;
    }
}