@import "../../global.scss";

@mixin button($fontColor,$backgroundColor,$borderColor) {
    white-space: nowrap;
    font-family: $fontSec;
    font-size: $FZ-button;
    color: $fontColor;
    background-color: $backgroundColor;
    padding: 0.35rem 1.5rem;
    border-radius: $btnRadius;
    border: solid 0.2rem $borderColor;
    background-position: 10rem 0px;
    transition: box-shadow 0.2s;
}

.btn-pri {
    @include button($colorTer,$hallow,$colorSec);
}

%shine {
    @extend %C-pointer;
    border: solid 0.2rem $colorQua;
    color: inherit;
    box-shadow: 0 0 0.5rem $colorQua;
    transition: background-position 0.5s linear;
    background-image: linear-gradient(70deg,$hallow,$hallow,$hallow,$hallow,$hallow,$colorQua,$hallow,$hallow,$hallow,$hallow,$hallow);
    background-position: 55rem 0px;
    background-size: 1000%;
}

.btn-pri:hover {
    @extend %shine;
}

.btn-pri-w {
    @extend .btn-pri;
    font-size: 1.5rem;
    padding: 0.5rem 2.5rem;
    background-position: 0rem 0px;
}

.btn-pri-w:hover {
    @extend %shine;
    background-position: 80rem 0px;
}
