@import "../../global.scss";

@mixin button($fontColor,$backgroundColor,$borderColor) {
    white-space: nowrap;
    font-family: $fontSec;
    font-size: $FZ-button;
    color: $fontColor;
    background-color: $backgroundColor;
    padding: 0.35rem 1.5rem;
    border-radius: $btnRadius;
    border: solid 0.2rem $borderColor;
    background-position: 10rem 0px;
    transition: box-shadow 0.2s;
}

.btn-pri {
    @include button($colorTer,$hallow,$colorSec);
}

.btn-sec {
    @include button($colorPri,$colorTer ,$colorTer );
    position:relative;
    z-index: 1;
}

.btn-sec::before {
    z-index: -1;
    position: absolute;
    color: $colorTer;
    content: "";
    padding: 0rem;
    border-radius: $btnRadius;
    background-color: $colorTer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
}

.btn-sec::after {
    z-index: -1;
    position: absolute;
    color: $colorTer;
    content: "";
    padding: 0rem;
    border-radius: $btnRadius;
    background-color: $colorTer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;

}

.btn-sec:hover::after{
    animation: blow 0.4s linear 0s 1 normal backwards;
}

.btn-sec:hover::before{
    animation: blow 0.43s linear 0s 1 normal backwards;
}

@keyframes blow {
    to {
        padding: 3rem 8rem;
        opacity: 0;
    }
}
.btn-sec:hover {
    @extend %C-pointer;
}



%shine {
    @extend %C-pointer;
    border: solid 0.2rem $colorQua;
    color: inherit;
    box-shadow: 0 0 0.5rem $colorQua;
    transition: background-position 0.5s linear;
    background-image: linear-gradient(70deg,$hallow,$hallow,$hallow,$hallow,$hallow,$colorQua,$hallow,$hallow,$hallow,$hallow,$hallow);
    background-size: 1000%;
}

.btn-pri:hover {
    @extend %shine;
    background-position: 55rem 0px;
}

.btn-pri-w {
    @extend .btn-pri;
    font-size: 1.5rem;
    padding: 0.5rem 2.5rem;
    background-position: 0rem 0px;
}

.btn-pri-wider {
    @extend .btn-pri-w;
}

.btn-pri-wider:hover {
    @extend %shine;
    background-position: 100rem 0px !important;
}

.btn-pri-w:hover {
    @extend %shine;
    background-position: 80rem 0px;
}
