@import "../../global.scss";

#chakra-modal-modalForm {
    .chakra-modal__body.css-1x51k4p {
        padding-inline-end: 4rem;
    }

    .css-nkpswe {
        position: absolute;
        translate: -139% 4%;
    }
}