@import "../../global.scss";

#services {
  display: grid;
  width: calc(100% - 8rem);
  max-width: 1920px;
  grid-template-columns: [grid-start] 20rem 1fr [grid-end];
  column-gap: 3rem;
  padding: 10rem 10rem 26.5vh;
  h1 {
    grid-column: grid;
    margin: 10rem 0rem;
    text-align: center;
  }
  menu {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      border: solid 1px white;
      padding: 1rem 5rem;
      margin-bottom: 1rem;
      a {
        display: flex;
        transition: all 0.25s linear;
      }
      &:hover {
        a {
          transform: translate(1.5rem, 0rem);
        }
      }
    }
  }
}
