nav {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: var(--fontSec);
    display: flex;
    justify-content: center;
    ul {
        margin-right: 20%;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content:flex-start;
        align-items: center;

        img {
            width: 12rem;
            margin-right: 1rem;
        }

        * {
            font-size: 1.2rem;
            margin-left: 2rem;
            transition: color 0.2s;
        }

        *:hover {
            color: $black;
            cursor: pointer;
        }
    }
}

