@import "../../../global.scss";

.home .sec3 {
    display: grid;
    width: calc(100% - 4rem);
    max-width: 1920px;
    grid-template-columns: [grid-start] repeat(3,1fr) [grid-end];
    column-gap: 1rem;
    padding: 0rem 2rem;

    h1 {
        grid-column: grid;
        margin: 10rem 0rem;
        text-align: center;
    }

    .btn-area {
        grid-column: grid;
        @include createFlex;
        margin: 4rem 0rem;
    }

    section {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: $borderRadius;
        overflow: hidden;

        ul{
            padding: 0;
            margin: 0;
            li {
                font-size: $FZ-nav;
                list-style: none;
                padding: 0.5rem 0rem;
                transition: transform 0.25s ease-out;
            }

            li:hover {
                @extend %C-pointer;
                transform: translate(2rem,0rem);
            }
        }
    }

    .backdrop {
        @include createFlex(column,start,start);
        padding: 2rem 2rem calc(8vw) 2rem;
        backdrop-filter: blur(0.5rem) brightness(30%);
        transition: backdrop-filter 0.25s;

        h2 {
            font-size: 2rem;
            border-bottom: 1px solid $colorSec;
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            line-height: 2.5rem;
        }
    }

    section:hover .backdrop{
        @extend %C-pointer;
        backdrop-filter: blur(0rem) brightness(50%);

        h2 {
            color:$colorQua
        }
    }
}