/* Font sizes used:
    1rem = 16px
    Nav links: 1.2rem
    Buttons: 1.2rem
    Hero heading: 10rem
    Paragraph text: 1rem */

$FZ-h1: 4rem;
$FZ-button: 1.2rem;
$FZ-nav: 1.2rem;
$FZ-heroh6: 10rem;
$FZ-Paragraph: 1rem;
$fontPri: 'Poppins', "Roboto Condensed", Tahoma, Geneva, Verdana, sans-serif;
$fontSec: 'Oswald', Tahoma, Geneva, Verdana, sans-serif;
$fontTer: 'Roboto Condensed', Tahoma, Geneva, Verdana, sans-serif;
$colorPri: black;
$colorSec: #c0a055;
$colorTer: white;
$colorQua: goldenrod;
$btnRadius:100px;
$btnPadding:0.35rem 1rem;
$hallow:rgba(0,0,0,0);

@mixin createFlex($direction:row,$justify:center,$align:center,){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}