/* Font sizes used:
    1rem = 16px
    Nav links: 1.2rem
    Buttons: 1.2rem
    Hero heading: 10rem
    Paragraph text: 1rem */
$FZ-highlight:1.2rem;
$FZ-h1: 4rem;
$FZ-h2:2rem;
$fontPri: 'Poppins', "Roboto", Tahoma, Geneva, Verdana, sans-serif;
$fontSec: 'Oswald', Tahoma, Geneva, Verdana, sans-serif;
$fontTer: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
$colorPri: black;
$colorSec: #c0a055;
$colorTer: white;
$colorQua: goldenrod;
$btnRadius:100px;
$circleRadius:50%;
$borderRadius:0.5rem;
$hallow: transparent;
%C-pointer {
    cursor: pointer;
}
%C-text {
    cursor: text;
}
%center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin createFlex($direction:row,$justify:center,$align:center,){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}