@import "../../../global.scss";

.bg-wrapper {
    @include createFlex;
}

%letterRules {
    color: $colorTer;
    font-family: $fontSec;
    font-weight: 500;
    font-size: $FZ-heroh6;
    opacity: 0;
}

.home .sec1 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content:end;
    align-items: center;
    grid-auto-flow: column;
    width: 100%;
    min-height: 100vh;

    header {
        @include createFlex(column);

        h6 {
            z-index: 2;
            margin: 0;
            line-height: 9rem;


            .sentence1 {
                display: flex;
                @for $i from 0 through 10 {
                    .letter#{$i}{
                        @extend %letterRules;
                        @if $i < 10{
                            color: $colorPri;

                        } @else if $i == 10{
                            padding-left:1rem;
                        }
                        animation: Swim 0.6s ease-in calc(0s + (90ms * $i)) forwards;
                    }
                }
            }

            .sentence2 {
                display: flex;
                padding-left: 0.25rem;
                @for $i from 0 through 12 {
                    .letter#{$i}{
                    @extend %letterRules;
                    animation: Swim 0.6s ease-out calc(0.9s + (90ms * $i)) forwards;
                    }
                }
            }

            @keyframes Swim {
                from {
                    opacity: 0;
                    transform: translate(0px,4rem) rotateX(90deg) skewX(-15deg);
                }

                60% {
                    opacity: 0.4;
                }

                85% {
                    transform: translate(0px,-0.2rem) rotateX(5deg) skewX(0deg)
                }

                to {
                    opacity: 1;
                    transform: translate(0px,0px) rotateX(0deg) skewX(0deg);
                }
            }
        }

        p {
            opacity: 0;
            max-width: 30rem;
            animation: Swim 0.6s ease-out 2s forwards;
        }
    }
}