@import "../../../../global.scss";

#hero {
  position: relative;
  width: 100%;
  height: 95vh;
  min-height: 55rem;
}

.hero-grid {
  position: absolute;
  width: 100%;
  height: 95vh;
  min-height: 55rem;
  z-index: 2;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "spc0  spc0  spc0  spc0 spc0 spc0  spc0  spc0"
    "spc1  spc1  spc2  spc2 spc2 spc2  spc2  spc3"
    "spc4  spc4  titl  titl titl titl  spc5  spc5"
    "spc6  spc6  titl  titl titl titl  spc7  spc7"
    "spc8  spc8  titl  titl titl titl  spc9  spc9"
    "spc11 spc11  stxt  stxt stxt stxt  spc14  spc14"
    "spc15 img1 img2 img3 img4 img5 img6 spc16";
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);

  img {
    position: absolute;
    opacity: 0;
    transform: translate(0rem, -20rem);
    border-radius: $circleRadius;
    height: 10vh;

    width: 10vh;
    object-fit: cover;
    object-position: center;
    transition: all 0.25s;
    animation: bounce 1s
      linear(
        0 0%,
        0 2.27%,
        0.02 4.53%,
        0.04 6.8%,
        0.06 9.07%,
        0.1 11.33%,
        0.14 13.6%,
        0.25 18.15%,
        0.39 22.7%,
        0.56 27.25%,
        0.77 31.8%,
        1 36.35%,
        0.89 40.9%,
        0.85 43.18%,
        0.81 45.45%,
        0.79 47.72%,
        0.77 50%,
        0.75 52.27%,
        0.75 54.55%,
        0.75 56.82%,
        0.77 59.1%,
        0.79 61.38%,
        0.81 63.65%,
        0.85 65.93%,
        0.89 68.2%,
        1 72.7%,
        0.97 74.98%,
        0.95 77.25%,
        0.94 79.53%,
        0.94 81.8%,
        0.94 84.08%,
        0.95 86.35%,
        0.97 88.63%,
        1 90.9%,
        0.99 93.18%,
        0.98 95.45%,
        0.99 97.73%,
        1 100%
      );
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }

  @for $index from 1 through 6 {
    img:nth-child(#{$index}) {
      animation-delay: calc(280ms + 40ms * $index);
      grid-area: img#{$index};
    }

    img:nth-child(#{$index}):hover,
    img:nth-child(#{$index}):active {
      box-shadow: 1px 1px 0.1rem adjust-hue(blue, $index * 36),
        1px 1px 1rem adjust-hue(blue, $index * 36);
    }
  }

  @keyframes bounce {
    to {
      opacity: 1;
      transform: translate(0rem, 0rem);
    }
  }

  img:hover,
  img:active {
    border-radius: $borderRadius;
    width: 16vh;
    height: 16vh;
  }
}

.neon-p {
  font-size: $FZ-highlight;
  text-align: center;
  align-self: baseline;
  margin: 5rem;
  grid-area: stxt;
  z-index: 1;
}

.neon {
  position: relative;
  font-weight: 300;
  margin: 0px;
  text-align: center;
  opacity: 1;
  grid-area: titl;
  color: white;

  span[class^="letter"] {
    animation: pulsateText 1.5s linear 1 forwards;
  }

  @for $i from 1 through 7 {
    span.letter:nth-child(#{$i}) {
      animation-delay: #{random(6)}00ms;
    }
  }

  box-shadow: inset 0 0 0.5em $colorQua, inset 0 0 1em $colorQua,
    0 0 0.1em $colorQua, 0 0 1em $colorQua, 0 0 8em $colorQua;

  animation: pulsate 1.5s linear 1 forwards;
  border: white solid 0.2em;
  border-radius: 2.5rem;
  padding: 5vw;
}

.neon::before {
  z-index: -1;
  pointer-events: none;
  content: "";
  position: absolute;
  background: $colorQua;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1.2, 0.2);
  filter: blur(1em);
  opacity: 0.7;
}

@keyframes pulsate {
  from {
    box-shadow: none;
  }

  10% {
    box-shadow: inset 0 0 0.5em $colorQua, inset 0 0 1em $colorQua,
      0 0 0.1em $colorQua, 0 0 1em $colorQua, 0 0 8em $colorQua;
  }
  20% {
    box-shadow: none;
  }
  15% {
    box-shadow: inset 0 0 0.5em $colorQua, inset 0 0 1em $colorQua,
      0 0 0.1em $colorQua, 0 0 1em $colorQua, 0 0 8em $colorQua;
  }
  30% {
    box-shadow: none;
  }
  35% {
    box-shadow: inset 0 0 0.5em $colorQua, inset 0 0 1em $colorQua,
      0 0 0.1em $colorQua, 0 0 1em $colorQua, 0 0 8em $colorQua;
  }
  39% {
    box-shadow: none;
  }
  40% {
    box-shadow: inset 0 0 0.5em $colorQua, inset 0 0 1em $colorQua,
      0 0 0.1em $colorQua, 0 0 1em $colorQua, 0 0 8em $colorQua;
  }
  45% {
    box-shadow: none;
  }
  50% {
    box-shadow: inset 0 0 0.5em $colorQua, inset 0 0 1em $colorQua,
      0 0 0.1em $colorQua, 0 0 1em $colorQua, 0 0 8em $colorQua;
  }
  60% {
    box-shadow: none;
  }
  70% {
    box-shadow: inset 0 0 0.5em $colorQua, inset 0 0 1em $colorQua,
      0 0 0.1em $colorQua, 0 0 1em $colorQua, 0 0 8em $colorQua;
  }
  80% {
    box-shadow: none;
  }
  90% {
    box-shadow: inset 0 0 0.5em $colorQua, inset 0 0 1em $colorQua,
      0 0 0.1em $colorQua, 0 0 1em $colorQua, 0 0 8em $colorQua;
  }

  95% {
    box-shadow: none;
  }

  to {
    box-shadow: inset 0 0 0.5em $colorQua, inset 0 0 1em $colorQua,
      0 0 0.1em $colorQua, 0 0 1em $colorQua, 0 0 8em $colorQua;
  }
}

@keyframes pulsateText {
  from {
    text-shadow: none;
  }

  10% {
    text-shadow: 0 0 0.1em $colorQua, 0 0 0.5em $colorQua, 0 0 1em $colorQua,
      0 0 0.1em $colorQua;
  }
  20% {
    text-shadow: none;
  }
  15% {
    text-shadow: 0 0 0.1em $colorQua, 0 0 0.5em $colorQua, 0 0 1em $colorQua,
      0 0 0.1em $colorQua;
  }
  30% {
    text-shadow: none;
  }
  35% {
    text-shadow: 0 0 0.1em $colorQua, 0 0 0.5em $colorQua, 0 0 1em $colorQua,
      0 0 0.1em $colorQua;
  }
  39% {
    text-shadow: none;
  }
  40% {
    text-shadow: 0 0 0.1em $colorQua, 0 0 0.5em $colorQua, 0 0 1em $colorQua,
      0 0 0.1em $colorQua;
  }
  45% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 0.1em $colorQua, 0 0 0.5em $colorQua, 0 0 1em $colorQua,
      0 0 0.1em $colorQua;
  }
  60% {
    text-shadow: none;
  }
  70% {
    text-shadow: 0 0 0.1em $colorQua, 0 0 0.5em $colorQua, 0 0 1em $colorQua,
      0 0 0.1em $colorQua;
  }
  80% {
    text-shadow: none;
  }
  90% {
    text-shadow: 0 0 0.1em $colorQua, 0 0 0.5em $colorQua, 0 0 1em $colorQua,
      0 0 0.1em $colorQua;
  }

  95% {
    text-shadow: none;
  }

  to {
    text-shadow: 0 0 0.1em $colorQua, 0 0 0.5em $colorQua, 0 0 1em $colorQua,
      0 0 0.1em $colorQua;
  }
}
