@import "../../../../global.scss";

#servicesMenu {
  display: grid;
  width: calc(100% - 4rem);
  max-width: 1920px;
  grid-template-columns: [grid-start] repeat(3, 1fr) [grid-end];
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 0rem 2rem;

  h1 {
    grid-column: grid;
    margin: 10rem 0rem;
    text-align: center;
  }

  .btn-area {
    grid-column: grid;
    @include createFlex;
    margin: 4rem 0rem;
  }

  a:focus {
    color: $colorTer;
  }

  section {
    max-height: 40rem;
    position: relative;
    height: 100%;
    overflow: hidden;
    &:hover ul,
    &:active ul,
    &.serviceMenu-section.animate ul {
      transform: translate(0%, 0%);
    }

    img {
      filter: blur(2px) brightness(30%);
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      transition: filter 0.25s, transform 0.25s;
      object-fit: cover;
      object-position: center;
      border-radius: $borderRadius;
    }

    ul {
      transition: transform 0.25s;
      transform: translate(0%, 200%);
      padding-top: 4.5rem;
      margin: 0;
      li {
        list-style: disc;
        padding: 0.5rem 0rem;
      }
    }
  }

  .backdrop {
    @include createFlex(column);
    padding: 2rem 2rem 10vw 2rem;

    h2 {
      transform: translate(0%, 50%);
      font-size: $FZ-h2;
      border-bottom: 1px solid $colorSec;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  section:hover,
  section:active {
    img {
      filter: blur(0px) brightness(40%);
    }
    @extend %C-pointer;
    li {
      color: $colorTer;
    }
    h2 {
      color: $colorQua;
    }
  }
}
