@import "../../../../global.scss";

#serviceDetails {
  #service {
    padding-bottom: 15rem;
    img {
      border-radius: $borderRadius;
      width: 100%;
      height: 25rem;
      object-fit: cover;
      object-position: center;
    }

    h2 {
      color: $colorSec;
    }
  }

  .carousel {
    position: relative;
    margin-bottom: 10rem;
  }
}
